<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.amdocs.student.Student">
        <property name="name">
            <list>
                <value>Vinesh</value>
                <value>Aryam</value>
            </list>
        </property>
        <property name="address">
            <map>
                <entry key="home" value="Delhi"/>
                <entry key="office" value="Gurgaon"/>
            </map>
        </property>
        <property name="subjects">
            <set>
                <value>Math</value>
                <value>Physics</value>
                <value>Chemistry</value>
            </set>
        </property>
    </bean>

</beans>
