<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.amdocs.studentDependOnCourse.Student" autowire="byType"/>

    <bean id="course" class="com.amdocs.studentDependOnCourse.Course">
        <property name="course" value="Mechanical Engineering"/>
    </bean>

</beans>
